<!DOCTYPE html>
<html lang="sv">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"><!--mobil-->
  <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon" >
  <meta charset="UTF-8"><!--åäö-->
  <title>We are Knytt - Hexed cards</title>
  <meta name="description=" content="We are Knytt, and we specialize in graphic design for board games.">
  <link rel="stylesheet" type="text/css" media="all" href="../../../css/style.css">
  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body class="dark">
  <!--header start-->
    <div class="black header flex">
        <a href="../../../"><img class="headerlogo" src="../../../img/Logo_white.png" alt="We are Knytt"></a>
        <!--menu start-->
        <div class="menu flex column">
          <img src="../../../img/hamburger-menu.png" alt="Menu" class="menu-button" onclick="menuButton()">
          <img src="../../../img/menu-close.png" alt="Menu" class="menu-close menu-button hide hidden-hex" onclick="menuButton()">
          <div class="menu-hex left">
            <a href="../../../projects" class="hide hidden-hex"><img src="../../../img/projects.png" alt="Projects"></a>
          </div>
          <div class="menu-hex">
            <a href="../../../consulting" class="hide hidden-hex"><img src="../../../img/consulting.png" alt="Consulting"></a>
            <a href="../../../photography" class="hide hidden-hex"><img src="../../../img/photography.png" alt="Photography"></a>
          </div>
          <div class="menu-hex left">
            <a href="../../../testimonials" class="hide hidden-hex"><img src="../../../img/testimonials.png" alt="Testimonials"></a>
          </div>
          <div class="menu-hex">
            <a href="../../../blog" class="hide hidden-hex"><img src="../../../img/blog.png" alt="Blog"></a>
          </div>
          <div class="menu-hex left">
            <a href="../../../whoisknytt" class="hide hidden-hex"><img src="../../../img/whoisknytt.png" alt="Who is Knytt?"></a>
          </div>
        </div>
        <!--menu end-->
  </div>
  <div class="breadcrumbs mobile-hide">
    <ul>
      <li><span class="material-icons">keyboard_arrow_left</span></li>
      <li><a href="../../../components/">Components</a></li>
    </ul>
  </div>
  <!--header end-->
  <video class="mobile-video" autoplay controls muted loop height="0">
    <source src="../../../img/images/icons/Hexed/movie.mp4" type="video/mp4">
  </video>
  <video class="desktop-video" autoplay controls muted loop height="0">
    <source src="../../../img/images/icons/Hexed/movie-desktop.mp4" type="video/mp4">
  </video>
  <div class="case">
    <div class="inner-container">
      <h1>Hexed cards</h1>
      <p>Hexed is, so far, mostly a board game idea, but one that we believe strongly in. In Hexed, you use hexagonal energy tiles to build shapes matching those on spell cards.</p>
      <p>We created the card design with usability for all players as the focus, by having the way the cards are used in the game at the center of each design desicion.</p>
      <p>The cards are designed to be surveyable while laying in a revealed row on the table, as well as to be stackable, so they won’t take up too much space in front of players, but still show important information.</p>
      <div class="flex align-start mobile-column">
        <img class="fill" src="../../../img/images/hexed-cards/1.png" alt="Cards">
      </div>
      </div>
      <div class="flex align-start column case-parts">
          <h2>Example cards</h2>
          <div class="flex wrap image-grid no-hover">
            <div class="big-thumb square">
              <img src="../../../img/images/hexed-cards/2.png" alt="Bring night">
            </div>
            <div class="big-thumb square">
              <img src="../../../img/images/hexed-cards/3.png" alt="Fire bolt">
            </div>
            <div class="big-thumb square">
              <img src="../../../img/images/hexed-cards/4.png" alt="Cold snap">
            </div>
            <div class="big-thumb square">
              <img src="../../../img/images/hexed-cards/5.png" alt="Natural camouflage">
            </div>
            <div class="big-thumb square">
              <img src="../../../img/images/hexed-cards/6.png" alt="Climate control">
            </div>
            <div class="big-thumb square">
              <img src="../../../img/images/hexed-cards/7.png" alt="Love spell">
            </div>
            <div class="big-thumb square">
              <img src="../../../img/images/hexed-cards/8.png" alt="Boil">
            </div>
            <div class="big-thumb square">
              <img src="../../../img/images/hexed-cards/9.png" alt="Balanced resurrection">
            </div>
            <div class="big-thumb square">
              <img src="../../../img/images/hexed-cards/10.png" alt="Smokescreen">
            </div>
          </div>
      </div>
    </div>
  <script type="text/javascript" src="../../../js/script.js"></script>
</body>
</html>
