<!DOCTYPE html>
<html lang="sv">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"><!--mobil-->
  <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon" >
  <meta charset="UTF-8"><!--åäö-->
  <title>We are Knytt - Robot Fight Club tokens</title>
  <meta name="description=" content="We are Knytt, and we specialize in graphic design for board games.">
  <link rel="stylesheet" type="text/css" media="all" href="../../../css/style.css">
  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body class="dark">
  <!--header start-->
    <div class="black header flex">
        <a href="../../../"><img class="headerlogo" src="../../../img/Logo_white.png" alt="We are Knytt"></a>
        <!--menu start-->
        <div class="menu flex column">
          <img src="../../../img/hamburger-menu.png" alt="Menu" class="menu-button" onclick="menuButton()">
          <img src="../../../img/menu-close.png" alt="Menu" class="menu-close menu-button hide hidden-hex" onclick="menuButton()">
          <div class="menu-hex left">
            <a href="../../../projects" class="hide hidden-hex"><img src="../../../img/projects.png" alt="Projects"></a>
          </div>
          <div class="menu-hex">
            <a href="../../../consulting" class="hide hidden-hex"><img src="../../../img/consulting.png" alt="Consulting"></a>
            <a href="../../../photography" class="hide hidden-hex"><img src="../../../img/photography.png" alt="Photography"></a>
          </div>
          <div class="menu-hex left">
            <a href="../../../testimonials" class="hide hidden-hex"><img src="../../../img/testimonials.png" alt="Testimonials"></a>
          </div>
          <div class="menu-hex">
            <a href="../../../blog" class="hide hidden-hex"><img src="../../../img/blog.png" alt="Blog"></a>
          </div>
          <div class="menu-hex left">
            <a href="../../../whoisknytt" class="hide hidden-hex"><img src="../../../img/whoisknytt.png" alt="Who is Knytt?"></a>
          </div>
        </div>
        <!--menu end-->
  </div>
  <div class="breadcrumbs mobile-hide">
    <ul>
      <li><span class="material-icons">keyboard_arrow_left</span></li>
      <li><a href="../../../components/">Components</a></li>
    </ul>
  </div>
  <!--header end-->
  <video class="mobile-video" autoplay controls muted loop height="0">
    <source src="../../../img/images/rfc-tokens/movie.mp4" type="video/mp4">
  </video>
  <video class="desktop-video" autoplay controls muted loop height="0">
    <source src="../../../img/images/rfc-tokens/movie-desktop.mp4" type="video/mp4">
  </video>
  <div class="case">
    <div class="inner-container">
      <h1>Robot Fight Club Tokens</h1>
      <p class="centered">Robot Fight Club is a fast-paced game of kids fighting with robots in an abandoned futuristic academy. The game uses a range of different tokens to manage everything from scrap to match points.</p>
      <div class="flex align-start mobile-column case-parts">
        <div class="flex column half-container">
          <h2>Armor &amp; Scrap tokens</h2>
          <p>To keep track of how much armor the robots have on each side there are armor tokens. They consist of a shield (a universal icon for protection) on a green background (because it’s positive to have armor &#128521;) as opposed to the red background of the printed broken armor on the robot boards.</p>
          <p>There are also scrap tokens, to keep track of the amount of scrap each player has on hand. In order to not waste space, and so you don’t have to search for the tokens, these are on the back of the armor tokens, which there are a lot of. There are also bigger scrap tokens worth 5 scrap, so you don’t have to have a whole bunch of scrap tokens. The scrap tokens have the same scrap icon that is used on cards.</p>
          <img class="case-image" src="../../../img/images/rfc-tokens/armour-scrap.jpg" alt="Armour &amp; Scrap tokens">
          <br>
          <h2>Match Point tokens</h2>
          <p>The match point tokens are used to track victories between bouts. When one player has won two bouts, they win the game. They were designed to look like coins. The small robots were added to reconnect to the robot theme.</p>
          <img class="case-image" src="../../../img/images/rfc-tokens/match-points.jpg" alt="Match Point tokens">
        </div>
        <div class="flex column half-container">
          <h2>Club badges</h2>
          <p>The club badges are used by some of the Cybernauts to perform an especially strong action. They are designed as if they were actual badges in the old robot club, but that the kids have written “fight” on. Therefore two different handwriting fonts were used for that word.</p>
          <img class="case-image" src="../../../img/images/rfc-tokens/club-badges.jpg" alt="Club badges">
          <br>
          <h2>Activation tokens</h2>
          <p>The activation tokens are placed on the arena boards and let you activate Upgrade Systems when you enter their spaces. They’re designed to look like pressure plates that could actually be part of the arena, but clean enough to stand out a bit from it as well. </p>
          <img class="case-image" src="../../../img/images/rfc-tokens/activation.jpg" alt="Activation tokens">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../../js/script.js"></script>
</body>
</html>
