<!DOCTYPE html>
<html lang="sv">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"><!--mobil-->
  <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" >
  <meta charset="UTF-8"><!--åäö-->
  <title>We are Knytt - Curators rulebook</title>
  <meta name="description=" content="We are Knytt, and we specialize in graphic design for board games.">
  <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css">
  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body class="dark">
  <!--header start-->
    <div class="black header flex">
        <a href="../../"><img class="headerlogo" src="../../img/Logo_white.png" alt="We are Knytt"></a>
        <div class="flex menu">
          <a href="../../blog"><img src="../../img/blog.png" alt="Blog"></a>
          <a href="../../whoisknytt"><img src="../../img/whoisknytt.png" alt="Who is Knytt?"></a>
        </div>
    <!--nav start
    <nav class="menu">
      <div class="grey round menu-button flex">
        <div class="mi lines"><i class="material-icons">menu</i></div>
        <div class="mi cross hide"><i class="material-icons">close</i></div>
      </div>
      <div class="light flex menu-links">
        <a href="projects.html" class="project hide"><h3>Projekt</h3></a>
        <a href="about.html" class="about hide"><h3>Om mig</h3></a>
      </div>
    </nav>
    nav end-->
  </div>
  <!--header end-->
  <video class="mobile-video" autoplay controls muted loop height="0">
    <source src="../../img/images/hexed-box/movie.mp4" type="video/mp4">
  </video>
  <video class="desktop-video" autoplay controls muted loop height="0">
    <source src="../../img/images/hexed-box/movie-desktop.mp4" type="video/mp4">
  </video>
  <div class="grey round back-button flex">
    <div class="mi"><a href="../"><i class="material-icons">keyboard_arrow_left</i></a></div>
  </div>
  <div class="container"><div class="case">
    <div class="inner-container">
      <h1>Hexed Prototype Box</h1>
      <p class="centered">Hexed is, so far, mostly a board game idea, but one that we believe strongly in. The goal of the game is to cast spells by building specific shapes using energy represented by hexagonal tiles.</p>
      <p class="centered">Since this is a prototype box for a game that’s not finished, we focused more on getting the necessary information across than on making the box marketable on a shelf. However, once we have finalized the game we would like the box front to have some sort of illustration that grabs your attention more.</p>
      <div class="flex align-start mobile-column case-parts">
        <div class="flex column half-container">
          <h2>Front</h2>
          <p>The front of the box is simple. The game's name is in the middle at the top, with the designer names underneath. At the bottom, the player count and the game duration is located.</p>
          <img class="case-image" src="../../img/images/hexed-box/box.jpg" alt="Hexed box front">
          <br>
          <h2>Back</h2>
          <p>The back of the game has some introductory flavor text (clearly separated through placement, font style and color) and a more informative text about what to expect from the game. There’s also a component list and a rendering of a game that’s ready to start.</p>
          <img class="case-image" src="../../img/images/hexed-box/box-back.jpg" alt="Hexed box back">
        </div>
        <div class="flex column half-container">
          <h2>Sides</h2>
          <p>The sides are designed so two of them are right way up when the game is stored vertically, and two when it’s stored horizontally. All sides contain the game name, player count and game duration. Thanks to that, the information can be accessed easily no matter which way the game is stored.</p>
          <img class="case-image" src="../../img/images/hexed-box/box-side.jpg" alt="Hexed box side">
          <img class="case-image" src="../../img/images/hexed-box/box-side2.jpg" alt="Hexed box sides">
        </div>
      </div>
    </div>
  </div></div>
  <script type="text/javascript" src="../../js/script.js"></script>
</body>
</html>
