<!DOCTYPE html>
<html lang="sv">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"><!--mobil-->
  <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon" >
  <meta charset="UTF-8"><!--åäö-->
  <title>We are Knytt - Graphic design for board games</title>
  <meta name="description=" content="We are Knytt, and we specialize in graphic design for board games.">
  <link rel="stylesheet" type="text/css" media="all" href="../../../css/style.css">
  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body class="black">
  <!--header start-->
  <div class="black header flex">
      <a href="../../../"><img class="headerlogo" src="../../../img/Logo_white.png" alt="We are Knytt"></a>
      <div class="flex menu">
        <a href="../../../blog"><img src="../../../img/blog.png" alt="Blog"></a>
        <a href="../../../whoisknytt"><img src="../../../img/whoisknytt.png" alt="Who is Knytt?"></a>
      </div>
  </div>
  <!--header end-->
    <div class="thumbs flex wrap">
      <div class="big-thumb half">
        <a href="./robot-fight-club"><img src="../../../img/thumbnails/rfc-boards.jpg" alt="Robot Fight Club"><div class="gradient-black full"></div><h1>Robot&nbsp;Fight&nbsp;Club</h1></a>
      </div>
      <div class="big-thumb half">
        <a href="./hexed"><img src="../../../img/thumbnails/hexed-game-board.jpg" alt="Hexed"><div class="gradient-black full"></div><h1>Hexed</h1></a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
