<!DOCTYPE html>
<html lang="sv">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"><!--mobil-->
  <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" >
  <meta charset="UTF-8"><!--åäö-->
  <title>We are Knytt - Curators rulebook</title>
  <meta name="description=" content="We are Knytt, and we specialize in graphic design for board games.">
  <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css">
  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body class="dark">
  <!--header start-->
    <div class="black header flex">
        <a href="../../"><img class="headerlogo" src="../../img/Logo_white.png" alt="We are Knytt"></a>
        <div class="flex menu">
          <a href="../../blog"><img src="../../img/blog.png" alt="Blog"></a>
          <a href="../../whoisknytt"><img src="../../img/whoisknytt.png" alt="Who is Knytt?"></a>
        </div>
    <!--nav start
    <nav class="menu">
      <div class="grey round menu-button flex">
        <div class="mi lines"><i class="material-icons">menu</i></div>
        <div class="mi cross hide"><i class="material-icons">close</i></div>
      </div>
      <div class="light flex menu-links">
        <a href="projects.html" class="project hide"><h3>Projekt</h3></a>
        <a href="about.html" class="about hide"><h3>Om mig</h3></a>
      </div>
    </nav>
    nav end-->
  </div>
  <!--header end-->
  <video class="mobile-video" autoplay controls muted loop height="0">
    <source src="../../img/images/icons/Hexed/movie.mp4" type="video/mp4">
  </video>
  <video class="desktop-video" autoplay controls muted loop height="0">
    <source src="../../img/images/icons/Hexed/movie-desktop.mp4" type="video/mp4">
  </video>
  <div class="grey round back-button flex">
    <div class="mi"><a href="../"><i class="material-icons">keyboard_arrow_left</i></a></div>
  </div>
  <div class="container"><div class="case">
    <div class="inner-container">
      <h1>Hexed tiles</h1>
      <p class="centered">Hexed is, so far, mostly a board game idéa, but one that we believe strongly in. The goal of the game is to cast spells by building specific shapes using energy represented on hexagonal tiles. We created the icons for each energy type with recognizability and the ability to tell the energy types apart as the focus.</p>
      <div class="flex align-start column case-parts">
          <h2>Energy types</h2>
          <div class="flex wrap image-grid">
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Fire.jpg" alt="Fire energy"><h1>Fire</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Heat.jpg" alt="Heat energy"><h1>Heat</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Stillness.jpg" alt="Stillness energy"><h1>Stillness</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Death.jpg" alt="Death energy"><h1>Death</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Water.jpg" alt="Water energy"><h1>Water</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Movement.jpg" alt="Movements energy"><h1>Movement</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Light.jpg" alt="Light energy"><h1>Light</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Cold.jpg" alt="Cold energy"><h1>Cold</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Darkness.jpg" alt="Darkness energy"><h1>Darkness</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Earth.jpg" alt="Earth energy"><h1>Earth</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Life.jpg" alt="Life energy"><h1>Life</h1>
            </div>
            <div class="big-thumb square">
              <img src="../../img/images/icons/Hexed/Air.jpg" alt="Air energy"><h1>Air</h1>
            </div>
          </div>
      </div>
    </div>
  </div></div>
  <script type="text/javascript" src="../../js/script.js"></script>
</body>
</html>
