<!DOCTYPE html>
<html lang="sv">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"><!--mobil-->
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" >
  <meta charset="UTF-8"><!--åäö-->
  <title>We are Knytt - Components</title>
  <meta name="description=" content="We are Knytt, and we specialize in graphic design for board games.">
  <link rel="stylesheet" type="text/css" media="all" href="../css/style.css">
  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body class="dark">
  <!--header start-->
    <div class="black header flex">
        <a href="../"><img class="headerlogo" src="../img/Logo_white.png" alt="We are Knytt"></a>
        <!--menu start-->
        <div class="menu flex column">
          <img src="../img/hamburger-menu.png" alt="Menu" class="menu-button" onclick="menuButton()">
          <img src="../img/menu-close.png" alt="Menu" class="menu-close menu-button hide hidden-hex" onclick="menuButton()">
          <a href="../projects" class="hide hidden-hex"><div class="flex">
            <img src="../img/projects.png" alt="Projects">
            <div class="extension white">
              <h3>Projects</h3>
            </div>
          </div></a>
          <a href="../consulting" class="hide hidden-hex"><div class="flex">
            <img src="../img/consulting.png" alt="Consulting">
            <div class="extension white">
              <h3>Consulting</h3>
            </div>
          </div></a>
          <a href="../photography" class="hide hidden-hex"><div class="flex">
            <img src="../img/photography.png" alt="Photography">
            <div class="extension white">
              <h3>Photography</h3>
            </div>
          </div></a>
          <a href="../testimonials" class="hide hidden-hex"><div class="flex">
            <img src="../img/testimonials.png" alt="Testimonials">
            <div class="extension white">
              <h3>Testimonials</h3>
            </div>
          </div></a>
          <a href="../blog" class="hide hidden-hex"><div class="flex">
            <img src="../img/blog.png" alt="Blog">
            <div class="extension white">
              <h3>Blog</h3>
            </div>
          </div></a>
          <a href="../whoisknytt" class="hide hidden-hex"><div class="flex">
            <img src="../img/whoisknytt.png" alt="Who is Knytt?">
            <div class="extension white">
              <h3>Who is Knytt?</h3>
            </div>
          </div></a>
        </div>
        <!--menu end-->
  </div>
  <!--header end-->
  <video class="mobile-video" autoplay controls muted loop height="0">
    <source src="../img/images/components/movie.mp4" type="video/mp4">
  </video>
  <video class="desktop-video" autoplay controls muted loop height="0">
    <source src="../img/images/components/movie-desktop.mp4" type="video/mp4">
  </video>
  <div class="case">
    <div class="inner-container">
      <h1>Components</h1>
      <p class="centered">Each game is made up of components; It doesn't matter if it’s only cards or a massive board with lots of moving parts, those components are going to give the players a better experience with the help of graphic design. That’s always going to be our main focus when we do graphic design for components: making sure the players have a great experience through designs that make the rules and gameplay intuitive.</p>
      <p class="centered">We can design a wide range of components. If you’re looking to get a different type of component than those shown here, just ask.</p>
      <div class="flex align-start column case-parts">
        <h2>Boards</h2>
        <p>Depending on the game, the board will be completely different. Some games require a board where units can move around while others need spaces to place tiles, meeples or anything else you can think of. No matter what type of board you need, we’re ready for the next challenge.</p>
        <div class="flex case-image">
          <a href="../components/boards/player-boards" class="big-thumb square"><img src="../img/images/components/rfc-player-boards.jpg" alt="Robot Fight Club player boards"><h1>Robot Fight&nbsp;Club player&nbsp;boards</h1></a>
          <a href="../components/boards/game-boards/hexed" class="big-thumb square"><img src="../img/images/components/hexed-game-board.jpg" alt="Hexed game board"><h1>Hexed game&nbsp;board</h1></a>
          <a href="../components/boards/game-boards/robot-fight-club" class="big-thumb square"><img src="../img/images/components/rfc-game-boards.jpg" alt="Robot Fight Club game boards"><h1>Robot Fight&nbsp;Club game&nbsp;boards</h1></a>
        </div>
        <br>
        <h2>Cards</h2>
        <p>A card that will mostly be held in a player's hand will have to be designed differently than one that will only ever be viewed on the table. We understand that you need to design the cards based on how and where they are used, and we’d love to take on a project that needs cards to be used in its own unique way.</p>
        <div class="flex case-image">
          <a href="../components/cards/robot-fight-club" class="big-thumb square half-width"><img src="../img/images/components/rfc-cards.jpg" alt="Robot Fight Club cards"><h1>Robot Fight&nbsp;Club</h1></a>
          <a href="../components/cards/hexed" class="big-thumb square half-width"><img src="../img/images/components/hexed-cards.jpg" alt="Hexed cards"><h1>Hexed</h1></a>
        </div>
        <br>
        <h2>Tiles &amp; Tokens</h2>
        <p>Whether you need tiles with graphics that interconnect from one tile to the other, ones with lots of important information or tokens that are just needed as counters for something, we’ve got you covered. Except for creating the graphic design of your tiles and tokens we can also help you with punch boards, even for more complicated stuff.</p>
        <div class="flex case-image">
          <a href="../components/tiles-tokens/hexed-tiles" class="big-thumb square half-width"><img src="../img/images/components/hexed-tiles.jpg" alt="Hexed tiles"><h1>Hexed</h1></a>
          <a href="../components/tiles-tokens/robot-fight-club-tokens" class="big-thumb square half-width"><img src="../img/images/components/rfc-tokens.jpg" alt="Robot Fight Club tokens"><h1>Robot Fight&nbsp;Club</h1></a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
